@import './base.css';

body {
    font-family: var(--mainFont);
    background-color: #eee;
}

.menu {
    display: none;
}

.header {
    background-color: #fff;
    padding: 20px 0;
}

.header .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;

}

.header .logo img {
    width: 35px;
}

.header .logo a {
    color: var(--mainColor);
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.navbar ul li a {
    color: #101928;
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.auth a {
    font-family: var(--subFont);
    border-radius: 10px;
    font-weight: 700;
    padding: 5.3541765213012695px 40.18113136291504px;
}

.auth .login {
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
}

.auth .register {
    border: 2px solid var(--mainColor);
    color: #fff;
    background-color: var(--mainColor);
}

@media screen and (max-width:992px) {

    .navbar,
    .auth {
        display: none;
    }

    .menu {
        display: block;
        order: 1;
    }

}

@media screen and (max-width:576px) {
    .container {
        width: calc(100% - 120px);
    }

    .header .logo img {
        width: 20px;
    }

    .header .logo a {
        font-size: 14px;
    }

}

.courses {
    padding: 20px;
    background-color: #fff;

}

.courses .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.courses-items,
.courses-description {
    width: calc((100% - 40px) / 2);
}

.courses-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.course {
    width: calc((100% - 20px) / 2);
    color: white;
}

.course-card {
    position: relative;
}

.course-card img {
    width: 100%;
    filter: brightness(90%);
    box-shadow: 2px 3px 10px 1px #969696;
    border-radius: 17px;
}

.course-info span:first-of-type {
    background-color: var(--mainColor);
    padding: 10px;
}

.course-info span:last-of-type {
    align-self: flex-end;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.course-info {
    color: white;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    align-items: flex-start;
}

.course-details {
    color: black;
    padding: 7px;
}

.course-details:nth-child(1) {
    justify-content: flex-start;
}

.course-details .row:last-of-type {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    font-family: var(--subFont);
    font-weight: 600;
    color: #969696;

}

.courses .row:first-of-type {
    align-items: flex-start;
}

.courses-description {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.courses-description p:first-of-type {
    font-family: var(--subFont);
    color: var(--mainColor);
    font-size: 20px;
}

.courses-description h2 {
    font-weight: 650;
    font-family: var(--mainFont);
    font-size: 30px;
    color: #141E32;
}

.courses-description p:last-of-type {
    font-family: var(--subFont);
    color: #969696;
    font-size: 25px;
    font-weight: 300;
}

.courses-description a {
    background-color: var(--mainColor);
    font-family: var(--subFont);
    width: 70px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    color: white;
}

@media screen and (max-width:1200px) {
    .courses-items {
        width: 100%;
    }

    .courses-description {
        width: 100%;
    }
}

@media screen and (max-width:796px) {
    .courses-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
     }
}

.testimonials {
    padding: 50px 0;
    background-color: white;
}

.testimonials .row {
    gap: 40px;
}

.testimonial {
    width: calc((100% - 40px) /2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    position: relative;
}

.user-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-data {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

}

.rating {
    display: flex;
    gap: 5px;
}

.testimonial::after {
    content: '';
    position: absolute;
    border-top: 70px solid #F4F4F4;
    border-bottom: 70px solid transparent;
    border-left: 70px solid transparent;
    right: 0;
    top: 0;
}

@media screen and (max-width:768px) {

    .testimonial {
        width: 100%;
    }
}

.footer {
    background-color: #393E46;
    color: white;
    padding: 50px 0;
    ;
}

.footer a {
    color: #fff;
}

.footer .row {
    gap: 20px;
}

.footer .footer-start {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    width: calc((100% - 20px) / 2);
}

.footer-start .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.footer-start .logo img {
    width: 35px;
}

.footer-start .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-start .icons img {
    border: 1px solid #fff;
    padding: 10px;
    width: 40px;
    height: 35px;
}

.footer .footer-end {
    width: calc((100% - 20px) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer-end nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-end .footer-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width:768px) {
    .footer .row {
        flex-direction: column;
    }

    .footer .footer-start,
    .footer-end {
        width: 100%;
    }

    .footer .footer-end {
        gap: 10px;
    }

    .footer .footer-end .footer-items {
        width: calc((100% - 10px) / 4);
    }
}

@media screen and (max-width:576px) {
    .footer .footer-end {
        gap: 10px;
    }

    .footer .footer-end .footer-items {
        width: calc((100% - 10px) / 4);
    }
}

@media screen and (max-width :460px) {

    .footer .footer-end .footer-items {
        width: 100%;
        text-align: center;
    }
}